/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Seletor de TAG */

body {
   font-family: Great Vibes, Dancing Script, ;
   color: #C9787F;
   line-height: 1.6;
}


h1, h2 {
    font-family: lobster;
}

h1 {
    font-size:
    30px;
}

h2 {
    font-size:
    28px;
    margin-bottom: 15px;
}

  p  {
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #C9787F
}

/* Cabeçalho */

header{
    background-color: #f3ece4;
    color: #92444d;
    padding: 30px 12px;
    text-align: center;
}

header h1{
    color: #a04b55;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: lobster; 
}

/* Navegação */

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: #A84F59;
    font-weight: bold;
}

/* Conteúdo principal */

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px;
}

/* Rodapé */
 
footer {
    background-color: #8d4049;
    color: #F7EDE3;
    text-align: center;
    padding: 24px 16px;
}

/* Fotos */

.foto {
    background-color: #A84F59;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pacote {
     padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

/* Seletor compartilhado */

.pacote-essencial, .pacote-premium {
    background-color: #f3ece4;
}

.pacote-essencial {
    border-left: 4px solid #e2d8cc
}

.pacote-premium {
    color: #C9787F;
    border-left: 4px solid #f3ece4;
}

/* Portfólio */

#portfolio {
    padding: 24px 0;
}

#pacotes {
    background-color: #e2d8cc;
    border-radius: 8px;
    padding: 24px;
}

/* Horário */

#horario {
    background-color: #c6a9ac;
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
}

#foto-casamento {
    background-image: url("ChatGPT\ Image\ 24\ de\ set.\ de\ 2026\,\ 09_35_56.png")
}

#foto-corporativo {
    background-image: url("segunda_imagem\ -\ Copia.png")
}

#foto-newborn {
    background-image: url("terceira_imagem.png")
    }